<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="container mt-5 text-center">
  <h1 class="text-succes">succes</h1>
  <a href="/" class="btn btn-primary">back to main page</a>
  </div>
</body>
</html>
